.unresolved { background-color: skyblue; }
.noTemplate { background-color: yellow; }

.sidebar {background: silver }
.toc {font-size: small; }

body {color: black; background-color: white }
.base { background-color: #ffffff; }
.breadcrumb { font-size : smaller;}
.prereq { margin-left : 20px;}
.hierarchy { display: block; border-style: solid; padding-left : 3px; border-width : 2px; padding-right : 3px; border-color : Silver;}

.nested0 { margin-top : 1em;}
.nested1 { }
.nested2 { }

.p {margin-top: 1em}

.tableborder { margin-top: 1em; margin-bottom: 1em }
.tablenoborder { margin-top: 1em; margin-bottom: 1em }
caption { text-align: left; font-style: italic }
.simpletableborder { margin-top: 1em; margin-bottom: 1em }
.simpletablenoborder { margin-top: 1em; margin-bottom: 1em }
.choicetableborder { margin-top: 1em; margin-bottom: 1em }
.choicetablenoborder { margin-top: 1em; margin-bottom: 1em }

.figcap { font-style: italic }
.figdesc { font-style: normal }

.fignone {margin-top: 1em}
.figborder { border-style: solid; padding-left : 3px; border-width : 2px; padding-right : 3px; margin-top: 1em; border-color : Silver;}
.figsides { border-left : 2px solid; padding-left : 3px; border-right : 2px solid; padding-right : 3px; margin-top: 1em; border-color : Silver;}
.figtop { border-top : 2px solid; margin-top: 1em; border-color : Silver;}
.figbottom { border-bottom : 2px solid; border-color : Silver;}
.figtopbot { border-top : 2px solid; border-bottom : 2px solid; margin-top: 1em; border-color : Silver;}

.synnone {margin-top: 1em}
.synborder { border-style: solid; padding-left : 3px; border-width : 2px; padding-right : 3px; margin-top: 1em; border-color : Silver;}
.synsides { border-left : 2px solid; padding-left : 3px; border-right : 2px solid; padding-right : 3px; margin-top: 1em; border-color : Silver;}
.syntop { border-top : 2px solid; margin-top: 1em; border-color : Silver;}
.synbottom { border-bottom : 2px solid; border-color : Silver;}
.syntopbot { border-top : 2px solid; border-bottom : 2px solid; margin-top: 1em; border-color : Silver;}

.skip { margin-top: 1em }
.skipspace { margin-top: 1em; margin-bottom: 1em }
.ullinks { list-style-type: none }
.ulchildlink { margin-top: 1em; margin-bottom: 1em }
.olchildlink { margin-top: 1em; margin-bottom: 1em }
.linklist { margin-top: 1em; margin-bottom: 1em }
.linklistwithchild { margin-left: 1.5em; margin-bottom: 1em  }
.sublinklist { margin-left: 1.5em; margin-bottom: 1em  }
.relconcepts { margin-top: 1em; margin-bottom: 1em }
.reltasks { margin-top: 1em; margin-bottom: 1em }
.relref { margin-top: 1em; margin-bottom: 1em }
.relinfo { margin-top: 1em; margin-bottom: 1em }
div.breadcrumb {margin-bottom: 1em }

.topictitle1 { margin-top: 0pc; margin-bottom: .1em; font-size: 1.34em; }
.topictitle2 { margin-top: 1pc; margin-bottom: .45em; font-size: 1.17em; }
.topictitle3 { margin-top: 1pc; margin-bottom: .17em; font-size: 1.17em; font-weight: bold; }
.topictitle4 { margin-top: .83em; font-size: 1.17em; font-weight: bold; }
.topictitle5 { font-size: 1.17em; font-weight: bold; }
.topictitle6 { font-size: 1.17em; font-style: italic; }
.sectiontitle { margin-top: 1em; margin-bottom: 0em; color: black; font-size: 1.17em; font-weight: bold;}
.section { margin-top: 1em; margin-bottom: 1em }
.example { margin-top: 1em; margin-bottom: 1em }

.note { margin-top: 1em; margin-bottom : 1em;}
.notetitle { font-weight: bold }
.notelisttitle { font-weight: bold }
.tip { margin-top: 1em; margin-bottom : 1em;}
.tiptitle { font-weight: bold }
.fastpath { margin-top: 1em; margin-bottom : 1em;}
.fastpathtitle { font-weight: bold }
.important { margin-top: 1em; margin-bottom : 1em;}
.importanttitle { font-weight: bold }
.remember { margin-top: 1em; margin-bottom : 1em;}
.remembertitle { font-weight: bold }
.restriction { margin-top: 1em; margin-bottom : 1em;}
.restrictiontitle { font-weight: bold }
.attention { margin-top: 1em; margin-bottom : 1em;}
.attentiontitle { font-weight: bold }
.dangertitle { margin-top: 1em; font-weight: bold }
.danger { padding: 5px 5px 5px 5px; border: solid; border-width: thin; font-weight: bold; margin-top: 2px; margin-bottom : 1em; }
.cautiontitle { margin-top: 1em; font-weight: bold }
.caution { font-weight: bold; margin-bottom : 1em; }

ul.simple { list-style-type: none }

.firstcol { font-weight : bold;}

.bold { font-weight: bold; }
.boldItalic { font-weight: bold; font-style: italic; }
.italic { font-style: italic; }
.underlined { text-decoration: underline; }
.uicontrol { font-weight: bold; }
.parmname { font-weight: bold; }
.defparmname { font-weight: bold; text-decoration: underline; }
.kwd { font-weight: bold; }
.defkwd { font-weight: bold; text-decoration: underline; }
.var { font-style : italic;}
.shortcut { text-decoration: underline; }
.calloutlabel {	color : White; background-color : Black; font-weight : bold; }

.ptocH1 {font-size: x-small; }
.ptocH2 {font-size: x-small; }

.smallCaps { text-transform: uppercase; font-size: smaller; }
.stitle { font-style: italic; text-decoration: underline; }
.nte {}

.dlterm { font-weight: bold; }
.dltermexpand { font-weight: bold; margin-top: 1em; }
.defListHead { font-weight: bold; text-decoration: underline; }
.parmListKwd { font-weight: bold; }
.parmListVar { font-style: italic; }
.pk { font-weight: bold; text-decoration: underline; }

*[compact="yes"]>li { margin-top: 0em;}
*[compact="no"]>li { margin-top: .53em;}	
.liexpand { margin-top: 1em; margin-bottom: 1em }
.sliexpand { margin-top: 1em; margin-bottom: 1em }
.dlexpand { margin-top: 1em; margin-bottom: 1em }
.ddexpand { margin-top: 1em; margin-bottom: 1em }
.stepexpand { margin-top: 1em; margin-bottom: 1em }
.substepexpand { margin-top: 1em; margin-bottom: 1em }

div.image {margin-top: 1em; }
div.imageleft { margin-top: 1em; text-align: left }
div.imagecenter { margin-top: 1em; text-align: center }
div.imageright { margin-top: 1em; text-align: right }
div.imagejustify { margin-top: 1em; text-align: justify }

pre.screen { padding: 5px 5px 5px 5px; border: outset; background-color: #CCCCCC; margin-top: 2px; margin-bottom : 2px; white-space: pre}

CITE { font-style: italic; }
EM { font-style: italic; }
STRONG { font-weight: bold; }
VAR { font-style: italic; }

/************************************************************************
   Styles added to support .NET output. Not used by standard processing.
 ************************************************************************/

body.dotnet /* This body tag requires the use of one of the sets of banner and/or text div ids */
	{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	background: #ffffff;
	color: #000000;
	width: 100%;
	}

div.nstext /* Creates the scrolling text area for Nonscrolling region topic */
	{
	padding: 5px 10px 0px 22px;
	}

div.nsbanner /* Creates Nonscrolling banner region */
	{
	position: relative;
	left: 0px;
	padding: 0px 0px 0px 0px;
	border-bottom: 1px solid #999999;
	}

div.bannerrow1 /* provides full-width color to top row in running head */
	{
	background-color: #99ccff;
	}

/*       STYLES FOR RUNNING HEADS      */

table.bannerparthead, table.bannertitle /* General values for the Running Head tables */
	{
	position: relative;
	left: 0px;
	top: 0px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	width: 100%;
	height: 21px;
	border-collapse: collapse;
	border-style: solid;
	border-width: 0px;
	background-color: #99ccff;
	font-size: 100%;
	}
table.bannerparthead td /* General Values for cells in the top row of running head */
	{
	margin: 0px 0px 0px 0px;
	padding: 2px 0px 0px 4px;
	vertical-align: middle;
	/*border-width: 0px 0px 1px 0px; */
	border-width: 0px;
	border-style: solid;
	border-color: #999999;
	background: transparent;
	font-style: italic;
	font-weight: normal;
	}
table.bannerparthead td.product /* Values for top right cell in running head */
	{                       /* Allows for a second text block in the running head */
	text-align: right;
	padding: 2px 5px 0px 5px;
	}

h1.dtH1 {
	margin-left: -18px;
	}
div.titlerow /* provides non-scroll topic title area (requires script) */
	{
	width: 100%; /* Forces tables to have correct right margin */
	padding: 0px 10px 0px 22px;
	background-color: #99ccff;
	}
div.titlerow h1
	{
	margin-top: 0em;
	font-weight: bold;
	margin-bottom: .2em
	}

/* Styles for Tutorial Specialization */
div.tutorialTimeRequired { margin-top: 1em; margin-bottom: 0em }
div.tutorialrelinfo { margin-top: 0em; margin-bottom: 1em }
div.tutorialPrevNext { margin-top: 1em; margin-bottom: 1em; font-weight: bold }
a.tutorialPrev {}
a.tutorialNext {}

