div.headtitle { font-size: .92em; font-weight:bold; margin-left: 0em}
div.head0 { font-size: 1em; font-weight:normal; margin-left: 0em}
div.head1 { font-size: .8em; font-weight:normal; margin-left: 1em; padding-top:0.2em; text-indent: -1em}
div.head2 { font-size: .8em; font-weight:normal; margin-left: 2em; text-indent: -1em}
div.head3 { font-size: .8em; font-weight:normal; margin-left: 3em; text-indent: -1em}
div.head4 { font-size: .8em; font-weight:normal; margin-left: 4em; text-indent: -1em}
div.head5 { font-size: .8em; font-weight:normal; margin-left: 5em; text-indent: -1em}
div.head6 { font-size: .8em; font-weight:normal; margin-left: 6em; text-indent: -1em}
div.head7 { font-size: .8em; font-weight:normal; margin-left: 7em; text-indent: -1em}
div.head8 { font-size: .8em; font-weight:normal; margin-left: 8em; text-indent: -1em}
div.head9 { font-size: .8em; font-weight:normal; margin-left: 9em; text-indent: -1em}
a { text-decoration: none }
a:hover { text-decoration: underline }
body { background-color: white } 
hr.partdiv { color: black }

/* P017370: Add support for style items that may be included in
   an XHTML title, and passed to the frames */
span.term { font-style: italic }
span.italic { font-style: italic }
span.bold { font-weight: bold }
span.underlined { text-decoration: underline }
span.bold-italic { font-weight: bold; font-style: italic }
span.smallcaps { font-variant: small-caps }
span.italic-underlined { font-style: italic; text-decoration: underline }
span.bold-underlined { font-weight: bold; text-decoration: underline }
span.bold-italic-underlined { font-weight: bold; font-style: italic; text-decoration: underline }
span.smallcaps-underlined { font-variant: small-caps; text-decoration: underline }

